$root-color: rgb(55, 55, 204);
$login-color: rgb(110, 133, 252);
$color-white: rgb(255, 255, 255);

$nav-hover-color: rgb(111, 117, 123);
$login-hover-color: rgb(93, 108, 250);
$freebtn-hover-color: rgb(93, 108, 250);