$root-color: rgb(55, 55, 204);
$login-color: rgb(110, 133, 252);
$color-white: rgb(255, 255, 255);
$color-white2: rgb(230, 232, 235);
$color-gray: rgb(189, 193, 199);

$nav-hover-color: rgb(111, 117, 123);
$login-hover-color: rgb(93, 108, 250);
$freebtn-hover-color: rgb(93, 108, 250);

$laptop-width: 1280px;
$tablet-width: 1024px;
$mobile-width: 600px;