@import "./variables";
@import "./mixins";

.first{
    background-color: rgb(5, 7, 14);
    background-size: cover;
    background-repeat: no-repeat;
    .container{
        position: relative;
        max-width: 1300px;
        width: calc(100% - 180px);
        height: 100vh;
        max-height: 970px;
        z-index: 1;
        white-space: pre-wrap;
        padding-left: 24px;
        padding-right: 24px;
        margin: 0 auto;
        .element{
            position: absolute;
            left: 0px;
            bottom: 120px;
            z-index: 2;
            .text-group{
                display: block;
                font-size: 5.2rem;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 12px;
                color: $color-white2;
            }
            .description{
                color: $color-gray;
                font-size: 3.2rem;
                font-weight: 400;
                line-height: 140%;
            }
            .btn-free{
                width: 100%;
                max-width: 326px;
                padding: 16px;
                margin-top: 56px;
                border-radius: 6px;
                background-color: rgb(55, 55, 204);
                color: $color-white;
                a{
                    font-size: 2.4rem;
                    font-weight: 600;
                    line-height: 140%;
                }
            }
        }
    }
}

.video-section{
    position: relative;
    width: 100%;
    height: 250vh;
    background-color: rgb(5, 7, 14);
    .content{
        width: 100%;
        height: auto;
        video{
            min-height: 100vh;
            object-fit: cover;
        }
        .dim{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 50vh;
            background: linear-gradient(rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
        }
    }
    .element{
        position: absolute;
        top: 60%;
        left: 15vw;
        transform: translate(0px, -50%);
        width: auto;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .wrapper{
            display: flex;
            flex-direction: row;
            .left{
                width: 48px;
                height: 112px;
                gap: 4px;
                padding: 16px 12px;
                border-radius: 100px;
                border: 1px solid rgba(255, 255, 255, 0.1);
                background-color: rgba(0, 0, 0, 0.3);
                display: flex;
                flex-direction: column;
                svg{
                    width: 24px;
                    height: 24px;
                    color: rgb(93, 108, 250);
                }
            }
            .right{
                margin-left: 24px;
                display: flex;
                flex-direction: column;
                .text-group{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 12px;
                    .title{
                        font-weight: 700;
                        font-size: 5.6rem;
                        line-height: 140%;
                        color: $color-white;
                    }
                }
                .description{
                    font-weight: 700;
                    font-size: 3.2rem;
                    line-height: 140%;
                    color: $color-white;
                    white-space: pre-wrap;
                }
            }
        }
    }
}

.static-section{
    background-color: rgb(5, 7, 14);
    .container{
        position: relative;
        width: calc(100% - 180px);
        white-space: pre-wrap;
        padding: 200px 0px;
        margin: 0 auto;
        overflow: hidden;
        &.action{
            max-width: 1300px;
        }
        .element{
            .caption{
                font-size: 3rem;
                font-weight: 700;
                line-height: normal;
                background: linear-gradient(0deg, rgb(115, 55, 255) 0%, rgb(49, 69, 255) 100%) text;
                -webkit-text-fill-color: transparent;
                margin-bottom: 14px;
            }
            .title{
                color: $color-white;
                font-size: 4.8rem;
                font-weight: 700;
                line-height: normal;
            }
            .description{
                display: block;
                color: rgb(246, 247, 248);
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 140%;
                margin-top: 20px;
            }
            .background-img{
                max-width: 722px;
                width: 100%;
                height: auto;
                margin-top: 72px;
                user-select: none;
                -webkit-user-drag: none;            
            }

            .content-group[data-type="scroll"]{
                display: flex;
                align-items: flex-start;
                justify-content: space-evenly;
                width: 100%;
                margin-top: 64px;
                padding: 64px 0px;
                text-align: center;
                border-radius: 16px;
                background: linear-gradient(221deg, rgba(255, 255, 255, 0.2) -0.09%, rgba(81, 30, 198, 0.03) 99.94%);
                &.active{
                    .content{
                        opacity: 0;
                        animation: fade-in 1s ease-in-out 0s 1 normal forwards running;
                        &:nth-child(2) {
                            animation: fade-in 1s ease-in-out 0.5s 1 normal forwards running;
                        }
                        &:nth-child(3) {
                            animation: fade-in 1s ease-in-out 1s 1 normal forwards running;
                        }
                    }
                }
                .content{
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    opacity: 1; 
                    .number-indicator{
                        display: flex;
                        -webkit-box-align: center;
                        align-items: center;
                        .number{
                            color: $color-white;
                            text-align: center;
                            font-size: 8rem;
                            font-weight: 800;
                            line-height: 120%;
                        }
                        svg{
                            display: block;
                            width: 56px;
                            height: 56px;
                            margin-left: 8px;
                        }
                    }
                    .title{
                        color: $color-white;
                        font-size: 2.8rem;
                        font-weight: 400;
                        line-height: 140%;
                    }
                    .desc{
                        color: $color-gray;
                        font-size: 1.6rem;
                        font-weight: 400;
                        line-height: 140%;
                    }
                }
            }

            .content-group[data-type="hover"]{
                display: flex;
                margin-top: 64px;
                gap: 24px;
                .content{
                    flex-direction: row;
                    position: relative;
                    max-width: 588px;
                    width: 50%;
                    height: 609px;
                    border-radius: 22px;
                    background: linear-gradient(221deg, rgba(255, 255, 255, 0.2) -0.09%, rgba(81, 30, 198, 0.14) 99.94%);
                    padding: 58px 64px;
                    cursor: pointer;
                    .element{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        gap: 8px;
                        .title{
                            color: $color-white;
                            font-size: clamp(2.4rem, 2.2vw, 3.6rem);
                            font-weight: 600;
                            line-height: 140%;
                            white-space: pre-wrap;
                        }
                        .desc{
                            display: none;
                            color: $color-white;
                            font-size: clamp(2rem, 1.5vw, 3.2rem);
                            font-weight: 600;
                            line-height: 140%;
                            white-space: pre-wrap;
                        }
                        svg{
                            min-width: 56px;
                            width: 56px;
                            height: 56px;
                            user-select: none;
                            -webkit-user-drag: none;
                            &.x-btn{
                                display: none;
                            }
                        }
                        
                    }
                    &.left{
                        .initial-img{
                            width: 106%;
                            position: absolute;
                            top: 35px;
                            right: -32px;
                            pointer-events: none;
                        }
                        .frame-img{
                            display: none;
                            width: 105%;
                            position: absolute;
                            top: 34px;
                            right: -31px;
                            pointer-events: none;
                        }
                        .video{
                            display: none;
                            width: 40%;
                            position: absolute;
                            top: 220px;
                            right: 78px;
                            pointer-events: none;
                        } 
                    }
                    &.right{
                        .initial-img{
                            width: 86%;
                            position: absolute;
                            top: 165px;
                            right: 46px;
                            pointer-events: none;
                        }
                        .frame-img{
                            display: none;
                            position: absolute;
                            top: 210px;
                            right: -30px;
                            pointer-events: none;
                            width: 100%;
                            transition: opacity 1s;
                        }
                    }
                }
                
                .content:hover{
                    background: linear-gradient(225deg, rgba(255, 255, 255, 0.5) 0%, rgba(81, 30, 198, 0.35) 100%);
                    .title, svg{
                        display: none;
                    }
                    .desc{
                        display: block;
                    }
                    .initial-img{
                        display: none;
                    }
                    .frame-img{
                        display: block;
                    }
                    .video{
                        display: block;
                        z-index: 1;
                    }
                }
            }
        }
        .content-slider{
            position: absolute;
            top: 45%;
            left: 410px;
            width: 1020px;
            .card{
                position: relative;
                width: 307px;
                height: 434px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 0% 0%;
                cursor: pointer;
                .text-group{
                    position: absolute;
                    bottom: 28px;
                    left: 24px;
                    z-index: 1;
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    .text{
                        font-size: 2.4rem;
                        font-weight: 700;
                        line-height: 168%;
                        color: $color-white;
                    }
                    .icon{
                        display: block;
                        margin-left: 4px
                    }
                }
                .dim{
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    opacity: 0.8;
                    background: linear-gradient(360deg, rgb(14, 13, 18) 0%, rgba(14, 13, 18, 0) 100%);
                    cursor: pointer;
                }
            }
            .arrow-content{
                position: absolute;
                top: -72px;
                left: 85px;
                width: auto;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                .prev,.next { cursor: pointer;}
                .next{
                    margin-left: 16px;
                }
            }
            .dim{
                position: absolute;
                top: 0px;
                right: 216px;
                width: 160px;
                height: 434px;
                background: linear-gradient(270deg, rgb(12, 16, 25) 0%, rgba(12, 16, 25, 0) 100%);
            }
        }
    }
    @media screen and (min-width: 1200px) {
        .container{
            max-width: 1200px;
        }
    }
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.full-view-root{
    width: 100%;
    height: 100dvh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    .full-view{
        width: 100%;
        height: 100dvh;
        position: relative;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        inset: 0px;
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-tap-highlight-color: transparent;
        z-index: -1;
        .view-container{
            width: 100%;
            height: auto;
            padding: 0 40px;
            position: relative;
            .content{
                margin: 0 20px;
                .video{
                    width: 100%;
                    height: 29vw;
                    object-fit: cover;
                }
            }
            .view-ui{
                position: absolute;
                left: 60px;
                bottom: -70px;
                width: 300px;
                height: 40px;
                .ui-wrapper{
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    .x-icon{
                        object-fit: cover;
                        width: 40px;
                        height: 40px;
                        cursor: pointer;
                    }
                    .progressbar{
                        background: -webkit-linear-gradient(268.82deg, rgb(115, 55, 255) 12.24%, rgb(49, 69, 255) 98.89%);
                        margin-left: 16px;
                        position: relative;
                        overflow: hidden;
                        display: block;
                        height: 4px;
                        z-index: 0;
                        .bar{
                            width: 100%;
                            position: absolute;
                            left: 0px;
                            bottom: 0px;
                            top: 0px;
                            transition: transform 0.4s linear 0s;
                            transform-origin: left center;
                            background-color: rgb(255, 255, 255);
                           
                        }
                    }
                }
            }
        }
    }
}

.modal-root{
    width: 100%;
    height: 100dvh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    .modal-dim{
        width: 100%;
        height: 100dvh;
        position: relative;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        inset: 0px;
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-tap-highlight-color: transparent;
        z-index: -1;
        .modal{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 480px;
            border-radius: 16px;
            background-color: rgb(24, 28, 32);
            .content{
                padding: 24px 40px;
                .text-group{
                    .modal-title{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 4px;
                        color: rgb(93, 108, 250);
                        font-size: 1.6rem;
                        font-weight: 400;
                        line-height: 140%;
                    }
                    .modal-desc{
                        display: block;
                        margin-top: 16px;
                        color: rgb(246, 247, 248);
                        text-align: center;
                        font-size: 2.8rem;
                        font-weight: 600;
                        line-height: 140%;
                    }
                    .modal-desc-2{
                        margin-top: 16px;
                        color: $color-gray;
                        font-size: 1.6rem;
                        font-weight: 400;
                        line-height: 140%;
                        text-align: center;
                        white-space: pre-wrap;
                        small{
                            display: block;
                            margin-top: 16px;
                            color: rgb(111, 117, 123);
                            font-size: 1.4rem;
                            font-weight: 400;
                            line-height: 130%;
                            text-align: center;
                            white-space: pre-wrap;
                        }
                    }
                }
                .btn-more{
                    margin: 24px 0;
                    width: 100%;
                    max-width: 400px;
                    padding: 12px;
                    border-radius: 6px;
                    text-align: center;
                    @include freeBtnStyle;
                    cursor: pointer;
                    span{
                        font-size: 1.8rem;
                        font-weight: 600;
                        line-height: 140%;
                        text-align: center;
                    }
                }
            }
            .banner{
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
            }
            .modal-caption{
                display: flex;
                justify-content: space-between;
                .modal-text-group{
                    display: flex;
                    align-items: center;
                    .checkbox-group{
                        cursor: pointer;
                        display: inline-flex;
                        -webkit-box-align: center;
                        align-items: center;
                        -webkit-box-pack: center;
                        justify-content: center;
                        position: relative;
                        vertical-align: middle;
                        -webkit-tap-highlight-color: transparent;
                        background-color: transparent;
                        input[type="checkbox"]{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0px;
                            left: 0px;
                            appearance: none;
                            background: none;
                            border: 0;
                            border-radius: 0;
                            margin: 0;
                        }
                        .box-svg{
                            display: block;
                            width: 24px;
                            height: 24px;
                        }
                    }
                    
                    .text{
                        display: block;
                        margin-left: 8px;
                        color: $color-gray;
                        font-size: 1.6rem;
                        font-weight: 400;
                        line-height: 140%;
                    }
                }
                .x-btn{
                    cursor: pointer;
                }
            }
        }
    }
}

.float-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 260px;
    min-height: 200px;
    height: 16vw;
    background: $root-color;
    .element{
        h5{
            color: $color-white;
            text-align: center;
            font-size: 3.2rem;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 16px;
        }
        a{
            display: inline-flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            background: $color-white2;
            border-radius: 6px;
            padding: 16px 56px;
            display: flex;
            align-items: center;
            text-align: center;
            font-weight: 600;
            font-size: 2.4rem;
            line-height: 140%;
            color: $root-color;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            &:hover{
                background: rgb(255, 255, 255);
            }
        }
    }
}

@media screen and (max-width:$laptop-width) {
    .video-section{
        .element{
            .wrapper{
                .right{
                    .text-group{
                        .title{
                            font-size: 4rem;
                        }
                    }
                    .description{
                        font-size: 2.4rem;
                    }
                }
            }
        }
    }
    .static-section{
        .container{
            .element{
                .content-group[data-type="hover"]{
                    .content{
                        &.left{
                            .initial-img{

                            }
                            .frame-img{
                                top: 34px;
                            }
                            .video{
                                top: 15vw;
                                right: 4.75vw;
                            } 
                        }
                        &.right{
                            .initial-img{
                                top: 165px;
                            }
                            .frame-img{
                                top: 180px;
                                right: -12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:$tablet-width) {
    .first{
        .container{
            max-width: 844px;
            max-height: 870px;
            .element{
                .text-group{
                    font-size: 4.8rem;
                }
                .description{
                    font-size: 2.4rem;
                }
                .btn-free{
                    max-width: 243px;
                    margin-top: 48px;
                    a{
                        font-size: 2rem;
                    }
                }
            }
        }
    }
    .video-section{
        .element{
            .wrapper{
                .left{
                    width: 36px;
                    height: 80px;
                    padding: 12px 10px;
                    svg{
                        width: 16px;
                        height: 16px;
                    }
                }
                .right{
                    .text-group{
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
    .static-section{
        &:nth-last-of-type(2){
            .container{
                padding: 100px 0px 200px;
            }
        }
        .container{
            max-width: 844px;
            padding: 100px 0px;
            .element{
                .caption{
                    font-size: 1.8rem;
                    margin-bottom: 8px;
                }
                .title{
                    font-size: 3.2rem;
                    font-weight: 600;
                }
                .description{
                    font-size: 1.8rem;
                    margin-top: 12px;
                }
                .background-img{
                    max-width: 280px;
                    margin-top: 85px;        
                }
                .content-group[data-type="scroll"]{
                    margin-top: 40px;
                    padding: 48px 0px;
                    .content{
                        gap: 4px;
                        .number-indicator{
                            .number{
                                font-size: 5.6rem;
                            }
                            svg{
                                width: 40px;
                                height: 40px;
                            }
                        }
                        .title{
                            font-size: 1.8rem;
                        }
                        .desc{
                            font-size: 1rem;
                        }
                    }
                }
                .content-group[data-type="hover"]{
                    margin-top: 40px;
                    gap: 28px;
                    .content{
                        max-width: 408px;
                        height: 420px;
                        border-radius: 16px;
                        padding: 40px 44px;
                        .element{
                            display: flex;
                            justify-content: space-between;
                            width: 100%;
                            gap: 8px;
                            .title{
                                font-size: 2.4rem;
                            }
                            .desc{
                                font-size: 2rem;
                            }
                            svg{
                                min-width: 40px;
                                width: 40px;
                                height: 40px;
                            }
                        }
                        &.left{
                            .initial-img{
                                width: 107%;
                                min-width: 415px;
                                top: 80px;
                                right: -20px;
                            }
                            .frame-img{
                                min-width: 415px;
                                top: 80px;
                                right: -18px;
                            }
                            .video{
                                min-width: 152px;
                                top: 22vw;
                                right: 55px;
                            } 
                        }
                        &.right{
                            .initial-img{
                                width: 85%;
                                min-width: 320px;
                                top: 155px;
                                right: 35px;
                            }
                            .frame-img{
                                top: 188px;
                                right: -12px;
                            }
                        }
                    }
                }
            }
            .content-slider{
                left: 50px;
                width: 903px;
                .card{
                    width: 285px;
                    height: 404px;
                    .text-group{
                        bottom: 24px;
                        left: 22px;
                        .text{
                            font-size: 2.4rem;
                            font-weight: 700;
                            line-height: 168%;
                            color: $color-white;
                        }
                        .icon{
                            width: 22px;
                            height: 22px;
                        }
                    }
                    .dim{

                    }
                }
                .arrow-content{
                    left: 48px;
                    .prev,.next { cursor: pointer;}
                    .next{
                        margin-left: 16px;
                    }
                }
                .dim{
                    right: 107px;
                    width: 200px;
                    height: 404px;
                }
            }
        }
    }

    .modal{
        .banner{
            height: 240px;
        }
    }

    .float-container{
        .element{
            h5{
                font-size: 2.8rem;
            }
            a{
                font-size: 2rem;
            }
        }
    }
}

@media screen and (max-width:$bigMobile-width) {
    .first{
        .container{
            max-width: 630px;
            width: calc(100% - 140px);
            max-height: 540px;
            .element{
                bottom: 90px;
                .text-group{
                    font-size: 4.4rem;
                }
                .description{
                    font-size: 2.4rem;
                }
                .btn-free{
                    max-width: 210px;
                    padding: 12px;
                    margin-top: 40px;
                    a{
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
    .video-section{
        .element{
            .wrapper{
                .left{
                }
                .right{
                    .text-group{
                        margin-bottom: 8px;
                        .title{
                            font-size: 3.2rem;
                        }
                        .description{
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }
    .static-section{
        .container{
            max-width: 630px;
            width: calc(100% - 140px);
            .element{
                .title{
                    font-size: 2.8rem;
                }
                .description{
                    font-size: 1.6rem;
                }
                .background-img{
                    display: none;      
                }
                .content-group[data-type="scroll"]{
                    margin-top: 32px;
                    padding: 32px 0px;
                    .content{
                        .number-indicator{
                            .number{
                                font-size: 4rem;
                            }
                            svg{
                                width: 32px;
                                height: 32px;
                            }
                        }
                        .title{
                            font-size: 1.6rem;
                        }
                        .desc{
                            font-size: 1rem;
                        }
                    }
                }
                .content-group[data-type="hover"]{
                    flex-direction: column;
                    margin-top: 103px;
                    gap: 149px;
                    .content{
                        flex-direction: column;
                        max-width: 630px;
                        width: 100%;
                        height: 250px;
                        border-radius: 22px;
                        padding: 48px 56px;
                        .element{
                            display: flex;
                            justify-content: space-between;
                            width: 100%;
                            flex-direction: column;
                            gap: 28px;
                            .title{
                                font-size: clamp(1.6rem, 3.2vw, 2.4rem);
                            }
                            .desc{
                                font-size: clamp(1.6rem, 2.7vw, 2rem);
                            }
                            svg{
                                min-width: 36px;
                                width: 36px;
                                height: 36px;
                            }
                        }
                        &.left{
                            .initial-img{
                                width: 377px;
                                min-width: 377px;
                                top: -120px;
                                right: 5px;
                            }
                            .frame-img{
                                width: 380px;
                                min-width: 380px;
                                top: -120px;
                                right: 6px;
                            }
                            .video{
                                width: 157px;
                                top: -15px;
                                right: 68px;
                            } 
                        }
                        &.right{
                            .initial-img{
                                width: 326px;
                                min-width: 326px;
                                top: -52px;
                                right: 51px;
                            }
                            .frame-img{
                                width: 350px;
                                top: 10px;
                                right: -40px;
                            }
                        }
                    }
                }
            }
            .content-slider{
                position: relative;
                top: unset;
                left: unset;
                width: 800px;
                margin-top: 75px;
                .card{
                    width: 252px;
                    height: 146px;
                    .text{
                        position: absolute;
                        top: 20px;
                        left: 20px;
                        font-size: 1.8rem;
                        font-weight: 600;
                        color: $color-white;
                    }
                    .icon{
                        position: absolute;
                        bottom: 22px;
                        right: 36px;
                        z-index: 1;
                    }
                    .dim{
                        opacity: 0.5;
                    }
                }
                .arrow-content{
                    display: none;
                }
            }
        }
    }
    .float-container{
        .element{
            h5{
                font-size: 2.4rem;
            }
            a{
                padding: 12px 40px;
                font-size: 1.8rem;
            }
        }
    }
}

@media screen and (max-width:$mobile-width) {
    .first{
        .container{
            width: calc(100% - 40px);
            max-height: 420px;
            padding-left: 16px;
            padding-right: 16px;
            .element{
                bottom: 70px;
                .text-group{
                    font-size: 2.4rem;
                    margin-bottom: 10px;
                }
                .description{
                    font-size: 1.6rem;
                }
                .btn-free{
                    max-width: 160px;
                    padding: 10px;
                    margin-top: 24px;
                    border-radius: 4px;
                    a{
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    .video-section{
        height: 100vh;
        .element{
            top: 120px;
            left: 5%;
            transform: unset;
            background-color: unset;
            border-radius: unset;
            padding: 0px;
            .wrapper{
                .left{
                    width: 26px;
                    height: 66px;
                    padding: 8px 6px;
                    svg{
                        width: 14px;
                        height: 14px;
                    }
                }
                .right{
                    .text-group{
                        margin-bottom: 4px;
                        .title{
                            font-size: 2.4rem;;
                        }
                    }
                    .description{
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    .static-section{
        &:nth-last-of-type(2){
            .container{
                padding: 48px 0px 118px;
            }
        }
        .container{
            width: calc(100% - 40px);
            padding: 48px 0px;
            .element{
                .caption{
                    font-size: 1.4rem;
                }
                .title{
                    font-size: 2rem;
                }
                .description{
                    font-size: 1.2rem;
                    margin-top: 10px;
                }
                .content-group[data-type="scroll"]{
                    width: fit-content;
                    flex-direction: column-reverse;
                    align-items: center;
                    height: 100%;
                    margin: 24px auto auto;
                    padding: 32px 24px;
                    gap: 32px;
                    .content{
                        gap: 2px;
                        &:last-of-type{
                            display: none;
                        }
                        .number-indicator{
                            .number{
                                font-size: 3.2rem;
                            }
                            svg{
                                width: 24px;
                                height: 24px;
                            }
                        }
                        .title{
                            font-size: 1.4rem;
                        }
                        .desc{
                            font-size: 0.8rem;
                        }
                    }
                }
                .content-group[data-type="hover"]{
                    margin-top: 24px;
                    gap: 110px;
                    .content{
                        max-width: 560px;
                        padding: 28px;
                        .element{
                            .title{
                                font-size: 1.6rem;
                            }
                            .desc{
                                font-size: 1.6rem
                            }
                        }
                        &.left{
                            .initial-img{
                                width: 53%;
                                min-width: 295px;
                                top: -12px;
                                right: -14px;
                            }
                            .frame-img{
                                width: 40%;
                                min-width: 300px;
                                top: -15px;
                                right: -12px;
                            }
                            .video{
                                min-width: 120px;
                                width: 20%;
                                top: 70px;
                                right: 38px;
                            } 
                        }
                        &.right{
                            .initial-img{
                                width: 43%;
                                min-width: 240px;
                                top: 22px;
                                right: 18px;
                            }
                            .frame-img{
                                width: 250px;
                                top: 110px;
                                right: -10px;
                            }
                        }
                        &:hover{
                            svg.x-btn{
                                display: block;
                            }
                        }
                    }
                }
            }
            .content-slider{
                width: 700px;
                margin-top: 29px;
                .card{
                    width: 220px;
                    height: 128px;
                    .text{
                        font-size: 1.4rem;
                        font-weight: 700;
                        top: 18px;
                        left: 18px;
                    }
                    .icon{
                        width: 24px;
                        height: 24px;
                        bottom: 16px;
                        right: 30px;
                    }
                }
            }
        }
    }
    .modal-root{
        .modal-dim{
            .modal{
                width: 280px;
                background-color: transparent;
                border-radius: 8px;
                .content{
                    padding: 20px;
                    background-color: rgb(24, 28, 32);
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                    .text-group{
                        .modal-title{
                            font-size: 1.2rem;
                            font-weight: 500;
                            svg{
                                display: block;
                                width: 16px;
                                height: 16px; 
                            }
                        }
                        .modal-desc{
                            font-size: 2rem;
                        }
                        .modal-desc-2{
                            font-size: 1.2rem;
                            font-weight: 500;
                            small{
                                font-size: 1.2rem;
                            }
                        }
                    }
                    .btn-more{
                        margin: 20px 0;
                        width: 100%;
                        max-width: 240px;
                        span{
                            font-size: 1.6rem;
                            line-height: normal;
                        }
                    }
                }
                .banner{
                    height: auto;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                }
                .modal-caption{
                    justify-content: center;
                    .modal-text-group{
                        display: flex;
                        align-items: center;
                        .checkbox-group{
                            .box-svg{
                                width: 16px;
                                height: 16px;
                            }
                        }
                        
                        .text{
                            font-size: 1.2rem;
                            font-weight: 500;
                            line-height: 130%;
                        }
                    }
                }
                .x-btn{
                    display: flex;
                    justify-content: center;
                    margin-top: 16px;
                    cursor: pointer;
                }
            }
        }
    }
    .float-container{
        .element{
            h5{
                font-size: 1.8rem;
            }
            a{
                border-radius: 4px;
                padding: 10px 24px;
                font-size: 1.4rem;
            }
        }
    }
    .float-container-mobile{
        display: none;
        opacity: 0;
        &.active{
            opacity: 1;
            position: fixed;
            bottom: 0px;
            width: 100%;
            height: auto;
            z-index: 998;
            display: flex;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.3);
            padding: 16px 0px;
            a{
                display: flex;
                justify-content: center;
                width: calc(100% - 40px);
                padding: 12px 20px;
                border-radius: 4px;
                @include freeBtnStyle;
                span{
                    text-align: center;
                    font-size: 1.6rem;
                    font-weight: 600;
                    line-height: 140%;
                    color: $color-white;
                }
            }
        }
    }
}

